.register-form-container {
  width: 40%;
  margin: 1rem auto;
  padding: 2rem 0;
  background-color: #e6e6fa;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px;
}

.register-form-fieldset {
  border: none;
  font-size: 1.4rem;
  /* legend styling*/
}
.register-form-fieldset .register-legend {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
}
.register-form-fieldset .registration-form {
  width: 90%;
  margin: auto;
  /* Full name styling*/
  /* Date of birth and gender styling*/
  /* Email address styling*/
  /* Password and confirm password styling*/
  /* Residence address styling*/
}
.register-form-fieldset .registration-form .full-name-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "firstName lastName";
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.register-form-fieldset .registration-form .full-name-container .firstName-container {
  grid-area: firstName;
  margin-top: 2rem;
}
.register-form-fieldset .registration-form .full-name-container .firstName-container .firstName-input input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.register-form-fieldset .registration-form .full-name-container .firstName-container .firstName-label label {
  font-size: 1.4rem;
}
.register-form-fieldset .registration-form .full-name-container .lastName-container {
  grid-area: lastName;
  margin-top: 2rem;
}
.register-form-fieldset .registration-form .full-name-container .lastName-container .lastName-input input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.register-form-fieldset .registration-form .full-name-container .lastName-container .lastName-label label {
  font-size: 1.4rem;
}
.register-form-fieldset .registration-form .birthDate-gender-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "birthDate gender";
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-top: 1rem;
}
.register-form-fieldset .registration-form .birthDate-gender-container .dateBirth-container {
  grid-area: birthDate;
}
.register-form-fieldset .registration-form .birthDate-gender-container .dateBirth-container .birthDate-label {
  font-size: 1.4rem;
}
.register-form-fieldset .registration-form .birthDate-gender-container .dateBirth-container .birthDate-input input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.register-form-fieldset .registration-form .birthDate-gender-container .gender-container {
  grid-area: gender;
}
.register-form-fieldset .registration-form .birthDate-gender-container .gender-container .gender-label label {
  font-size: 1.4rem;
}
.register-form-fieldset .registration-form .birthDate-gender-container .gender-container .gender-input select {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.register-form-fieldset .registration-form .email-address-container {
  margin-top: 1rem;
}
.register-form-fieldset .registration-form .email-address-container .email-label label {
  font-size: 1.4rem;
}
.register-form-fieldset .registration-form .email-address-container .email-input input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.register-form-fieldset .registration-form .password-confirm-password-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "password confirmPassword";
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-top: 1rem;
}
.register-form-fieldset .registration-form .password-confirm-password-container .password-container {
  grid-area: password;
}
.register-form-fieldset .registration-form .password-confirm-password-container .password-container .password-label label {
  font-size: 1.4rem;
}
.register-form-fieldset .registration-form .password-confirm-password-container .password-container .password-input input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.register-form-fieldset .registration-form .password-confirm-password-container .confirm-password-container {
  grid-area: confirmPassword;
}
.register-form-fieldset .registration-form .password-confirm-password-container .confirm-password-container .confirm-password-label label {
  font-size: 1.4rem;
}
.register-form-fieldset .registration-form .password-confirm-password-container .confirm-password-container .confirm-password-input input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.register-form-fieldset .registration-form .residence-address-container {
  margin-top: 1rem;
}
.register-form-fieldset .registration-form .residence-address-container .residence-address-inputs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "street house" "postalCode city" "province country";
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}
.register-form-fieldset .registration-form .residence-address-container .residence-address-inputs-container .street-input {
  grid-area: street;
}
.register-form-fieldset .registration-form .residence-address-container .residence-address-inputs-container .street-input input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.register-form-fieldset .registration-form .residence-address-container .residence-address-inputs-container .house-number {
  grid-area: house;
}
.register-form-fieldset .registration-form .residence-address-container .residence-address-inputs-container .house-number input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.register-form-fieldset .registration-form .residence-address-container .residence-address-inputs-container .zipCode {
  grid-area: postalCode;
}
.register-form-fieldset .registration-form .residence-address-container .residence-address-inputs-container .zipCode input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.register-form-fieldset .registration-form .residence-address-container .residence-address-inputs-container .city {
  grid-area: city;
}
.register-form-fieldset .registration-form .residence-address-container .residence-address-inputs-container .city input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.register-form-fieldset .registration-form .residence-address-container .residence-address-inputs-container .province {
  grid-area: province;
}
.register-form-fieldset .registration-form .residence-address-container .residence-address-inputs-container .province input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.register-form-fieldset .registration-form .residence-address-container .residence-address-inputs-container .country {
  grid-area: country;
}
.register-form-fieldset .registration-form .residence-address-container .residence-address-inputs-container .country input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

/* Agree checkbox and rest styling*/
.checkbox-reset-container {
  display: flex;
  margin-top: 1rem;
}
.checkbox-reset-container .checkbox-container {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
.checkbox-reset-container .checkbox-container input[type=checkbox] {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.3rem;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  cursor: pointer;
}
.checkbox-reset-container .agree-statement {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.checkbox-reset-container .agree-statement label {
  font-size: 1.3rem;
}
.checkbox-reset-container .agree-statement label span {
  color: blue;
  cursor: pointer;
}
.checkbox-reset-container .reset-container {
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.checkbox-reset-container .reset-container input {
  font-size: 1.4rem;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  background-color: #20b2aa;
  border: 2px solid #ccc;
  cursor: pointer;
}
.checkbox-reset-container .reset-container input:hover {
  background-color: #aee6fa;
  color: red;
  transition: 0.5s;
}

/* Registration buttons styling*/
.registration-buttons-container {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
}
.registration-buttons-container .register-button {
  font-size: 1.6rem;
  font-weight: bold;
  background: #20b2aa;
  border-radius: 0.4rem;
  padding: 0.5rem;
  cursor: pointer;
}
.registration-buttons-container .register-button:hover {
  background: #aee6fa;
  color: red;
  transition: 0.5s;
}
.registration-buttons-container .swap-to-login {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-left: 1rem;
}
.registration-buttons-container .swap-to-login .login-button {
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  margin-left: 0.5rem;
}
.registration-buttons-container .swap-to-login .login-button:hover {
  background: #aee6fa;
  color: red;
  transition: 0.5s;
}

.registration-form input:focus {
  outline: blue solid 1px;
}

.password-display {
  margin-left: -2rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.registration-form label:after {
  content: " *";
  color: red;
  font-size: 1rem;
}

.errorVisible {
  display: block;
  color: red;
}

.errorInvisible {
  display: none;
}/*# sourceMappingURL=Register.css.map */