// Background colors
$headerBackground1: #f0ffff;
$headerBackground2: #00008b;
$buttonBackground: #000080;
$mainBackground: hsl(208, 100%, 97%);
$footerBackground:	#f8f8ff;
$sectionBackground: #fffafa;
$modalBackground1: 	#f8f8ff;
$formBackground: 	#e6e6fa;

// Font color
$title: blue;
$titleFont: 'Roboto Mono', monospace;
$textFont: Arial;

// Hover
$buttonBackground: #20b2aa;
$hoverBackground: #aee6fa;
$hoverTextColor: red;

// input
$inputBackground: #6495ed;